.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
    position: relative;
    z-index:10 ;
    background: #85b6aa;
}
 .nav-link{
    display: flex;
    gap: 20px;
    list-style: none;
    transition: transform 0.3s ease-in-out;
 }

.nav-link li{
    position: relative;
}

.nav-link li a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    font-size: 18px;        /* más grandes */
    font-weight: 600;       /* semi-negrita */
    text-transform: uppercase; /* todo en mayúsculas */
    letter-spacing: 1px;    /* más espacio entre letras */
}
.nav-link li a:hover{
    background-color: #444;
    border-radius: 4px;
    color: #f5ae81;
}   

.logo img {
  height: 50px;       /* ajusta el tamaño del logo */
  width: auto;        /* mantiene proporción */
  display: block;
}
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* --- Responsivo --- */
@media (max-width: 768px) {
  .nav-link {
    position: absolute;
    top: 70px; /* debajo del navbar */
    right: 0;
    background: #85b6aa;
    flex-direction: column;
    width: 200px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .nav-link.show {
    height: auto;
    padding: 10px 0;
  }

  .nav-link li {
    text-align: center;
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}
body {
  background-color: #fed794;
  background-image: url('../img/Patrones_celestes/Recurso_105.png'); /* ajusta la ruta */
  background-repeat: repeat; /* o 'no-repeat' si quieres una sola */
  background-size: contain; /* o 'cover' si quieres que se estire */
  background-position: center;
  color: #333; /* texto oscuro para buen contraste */
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}


.tarjetas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.tarjeta {
  background: #c41f3d;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.tarjeta:hover {
  transform: scale(1.03);
}

.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.tarjeta h3 {
  margin: 15px 0 10px;
  font-size: 1.2em;
  color: #fed794;
}

.tarjeta p {
  font-size: 0.95em;
  color: #fed794;
}

.tarjeta a {
  display: inline-block;
  margin-top: 10px;
  color: #fed794;
  text-decoration: none;
  font-weight: bold;
}